.arrow__slide {
  width: 1.8125rem;
  height: 0.875rem;
  margin: 0 auto;
  margin-bottom: 0.625rem; 

  &--left {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: rotate(90deg);
    margin: 0;
    z-index: 5;
  }

  &--right {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 1%;
    transform: rotate(-90deg);
    z-index: 5;
  }
}

