.footer {
  min-height: 5rem;
  background: url('../src/images/delievery-bg.png') 50% 50% / cover no-repeat;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
}