@font-face {
  font-family: 'Gagalin-Regular';
  src:  url('../src/fonts/Gagalin-Regular.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin-Regular';
  src:  url('../src/fonts/Gagalin-Regular.otf')  format('opentype'),
  url('../src/fonts/Gagalin-Regular.woff')  format('woff'), 
  url('../src/fonts/Gagalin-Regular.woff2')  format('woff2'), 
  url('../src/fonts/Gagalin-Regular.ttf')  format('truetype'), 
  url('../src/fonts/Gagalin-Regular.svg#Gagalin-Regular') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src:  url('../src/fonts/Ubuntu.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../src/fonts/Ubuntu.woff')  format('woff'), 
  url('../src/fonts/Ubuntu.woff2')  format('woff2'), 
  url('../src/fonts/Ubuntu.ttf')  format('truetype'), 
  url('../src/fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-B';
  src:  url('../src/fonts/Ubuntu-B.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-B';
  src:  url('../src/fonts/Ubuntu-B.otf')  format('opentype'),
  url('../src/fonts/Ubuntu-B.woff')  format('woff'), 
  url('../src/fonts/Ubuntu-B.woff2')  format('woff2'), 
  url('../src/fonts/Ubuntu-B.ttf')  format('truetype'), 
  url('../src/fonts/Ubuntu-B.svg#Ubuntu-B') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu-Light';
  src:  url('../src/fonts/Ubuntu-Light.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src:  url('../src/fonts/Ubuntu-Light.otf')  format('opentype'),
  url('../src/fonts/Ubuntu-Light.woff')  format('woff'), 
  url('../src/fonts/Ubuntu-Light.woff2')  format('woff2'), 
  url('../src/fonts/Ubuntu-Light.ttf')  format('truetype'), 
  url('../src/fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src:  url('../src/fonts/Ubuntu-Medium.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../src/fonts/Ubuntu-Medium.woff')  format('woff'), 
  url('../src/fonts/Ubuntu-Medium.woff2')  format('woff2'), 
  url('../src/fonts/Ubuntu-Medium.ttf')  format('truetype'), 
  url('../src/fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src:  url('../src/fonts/Lifehack-Medium.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src:  url('../src/fonts/Lifehack-Medium.otf')  format('opentype'),
  url('../src/fonts/Lifehack-Medium.woff')  format('woff'), 
  url('../src/fonts/Lifehack-Medium.woff2')  format('woff2'), 
  url('../src/fonts/Lifehack-Medium.ttf')  format('truetype'), 
  url('../src/fonts/Lifehack-Medium.svg#Lifehack-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}